<div class="border inline">
	<div data-ng-class="[directives.rule30.setProfileColor(profile.left), left]" class="left" style="height: 20px; width: 20px; border-right: 1px solid #ccc;"></div>
	<div data-ng-class="[directives.rule30.setProfileColor(profile.middle), left]" class="left" style="height: 20px; width: 20px; border-right: 1px solid #ccc;"></div>
	<div data-ng-class="[directives.rule30.setProfileColor(profile.right), left]" class="left" style="height: 20px; width: 20px;"></div>
</div>
<div class="inline">
	<div class="left" style="height: 20px; width: 20px; background-color: white;"></div>
	<div data-ng-click="directives.rule30.toggleProfileIndicator(profile)" data-ng-class="[directives.rule30.setProfileColor(profile.result), left, border, pointer]" class="left border pointer" style="height: 20px; width: 21px; border-top: none;"></div>
	<div class="left" style="height: 20px; width: 20px; background-color: white;"></div>
</div>
